/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

/*shop cart responsive */
.wrapper{
	width: 987px;
	margin: 20px auto;
	background:#fff;
	border:2px solid #aaa;
	padding:5px;
}
.remove_btn{
	padding-right: 0px;
	margin-right: 0px;
}
.img_style{
	width: 150px;
	height: 128px;
}
.header{
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	color:#8B858A;
	padding-right: 13px;
}
.style_td{
	text-align:center;border:2px solid #aaa;
	color:#8B858A;
}
.style_td_tot{
	text-align:center;
	color:#8B858A;
}
.btn_style{
	height: 41px;
	border: 2px solid #aaa;
	color: #fff;
	background: #17C3A2;
	box-shadow: 2px 1px 2px 1px #aaa;
	width: 160px;
	margin: 20px 0px;
}
.text_img{
	font-size: 17px;
	padding-right: 5px;
}
/*sign up form responsive */
.input_type_class{
	border: 1px solid #aaa;
	width: 245px;
}
.input_type_class2{
	border: 1px solid #aaa;
	width: 150px;height:44px
}
.show_cart_highlight{
	margin-left:92%;
	margin-top:1%;
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*shop cart responsive */
.wrapper{
	width: 730px;
	margin: 0 auto;
	background:#fff;
	border:2px solid #aaa;
	padding: 20px;
}
.img_style{
	width: 150px;
	height: 128px;
}
.header{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color:#8B858A;
	padding-right: 13px;
}
.style_td{
	text-align:center;border:2px solid #aaa;
	color:#8B858A;
}
.style_td_tot{
		text-align:center;
	color:#8B858A;
}
.btn_style{
	height: 41px;
	border: 2px solid #aaa;
	color: #fff;
	background: #17C3A2;
	box-shadow: 2px 1px 2px 1px #aaa;
	width: 160px;
}
.text_img{
	font-size: 17px;
	padding-right: 5px;	

}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

/*shop cart responsive */
.wrapper{
	width: 305px;
	margin:0 auto;
	background:#fff;
	border:2px solid #aaa;
	padding: 10px;
}
.img_style{
	width: 65px;
	height: 60px;

}
.header{
	font-size: 9px;
	text-align: center;
}
.style_td{
	text-align:center;
	border:1px solid #aaa;
	color:#8B858A;
}
.style_td_tot{
	text-align:center;
	color:#8B858A;
	font-size: 10px;
}
.btn_style{
	height: 45px;
	border: 2px solid #aaa;
	color: #fff;
	background: #17C3A2;
	box-shadow: 2px 1px 2px 1px #aaa;
	width: 89px;
	
}
.text_img{
	font-size: 14px;
}

/*sign up form responsive */
.input_type_class{
	border: 1px solid #aaa;
	width: 117px;
	margin-right: 26px;	
}
.input_type_class2{
	border: 1px solid #aaa;
	width: 125px;
	height: 37px;
	margin-left: 69px;
}
.show_cart_highlight{
	margin-left:70%;
	margin-top:5%;
}

}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

/*shop cart responsive */
.wrapper{
	width: 552px;
	margin: 0 auto;
	background:#fff;
	border:2px solid #aaa;
	padding: 20px;
}
.img_style{
	width: 150px;
	height: 128px;
}
.header{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color:#8B858A;
	padding-right: 13px;
}
.style_td{
	text-align:center;border:2px solid #aaa;
	color:#8B858A;
}
.style_td_tot{
		text-align:center;
	color:#8B858A;
}
.btn_style{
	height: 41px;
	border: 2px solid #aaa;
	color: #fff;
	background: #17C3A2;
	box-shadow: 2px 1px 2px 1px #aaa;
	width: 160px;
}

}

