.my_txt {
	position: absolute;
    margin-top: -150px;
    left: 25px;

}
.my_img{
	position:relative;
}
.my_btn{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 0px;
margin-left: 64px;
}
.img_2{
	position:relative;
}
.my_txt2{
	position: absolute;
margin-top: -180px;
left: 150px;

}
.my_btn2{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 22px;
margin-left: 82px;
}
.my_txt3{
	position: absolute;
margin-top: -432px;
left: 25px;
color: #1a0e0e;


}
.my_btn3{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 200px;
margin-left: 60px;
}
.my_txt4{
position: absolute;
margin-top: -280px;
left: 25px;


}
.my_btn4{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 43px;
margin-left: 60px;
}
.my_txt5{
position: absolute;
margin-top: -200px;
left: 51px;


}
.my_btn5{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 43px;
margin-left: 60px;
}
.my_txt6{
position: absolute;
margin-top: -239px;
left: 22px;

}
.my_btn6{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 14px;
margin-left: 60px;
}
.my_txt7{
position: absolute;
margin-top: -198px;
left: 74px;
}
.my_btn7{
	position:absolute;
	background: #000;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 10px;
width: 120px;
text-transform: uppercase;
border-radius: 5px;
margin-top: -4px;
margin-left: 19px;
}