.parentproducthome{
    clear: both;
	max-width: 100%;
	max-height: 450px;
	margin: 0 auto;
	background:white;
}
.parentproducthome .parent_product_title{

	width: 100%	;
	background: #0088cc;
	height: 40px;
	border-radius: 0px 0px 50px 0px;
}

.parentproducthome .parent_product_title p {
	color: white;
	font-size: 18px;
	line-height: 40px;
	padding-left: 10px;
}

.parentproducthome .parent_product_list{

	width: 100%;
	height: 325px;
	background: white;
}

.productviewmain{
	width: 250px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	background:white;
	margin-top: 10px;
	height: 280px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 230px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 230px;
}
.productviewmain a {
font-size:  16px;

}

.productviewmain1{
	width: 250px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 280px;
	margin-right: 15px;
}
.productviewmain1 a:hover{
 text-decoration: none;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 230px;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 230px;
}
.productviewmain1 a {
font-size:  16px;

}

.withoutimg{
  width: 100%; 
  height: 100%; 
  background: url(images/default1.jpg) center no-repeat; 
  text-align: center; 
}
.hoverimg{
  width: 100%;
  height:100%;
}
.hoverimg h3{
font-size: 28px; color: white; padding-top: 90px; 
display: block; z-index: 99;
}
.hoverimg:hover{
z-index: 1;
display: block;
  height:100%;
  opacity: .6;
background: url(images/default7.png);
} 

.bank_rolll{
	width: 100%;
	border: 1px solid gray;
}

.inner {
/*width: 600px;*/
}

/*.inner .sub-menu{
	-height: 260px;
}*/
#nav-menu-item-728 .sub-menu{
	width: 800px;

}
#nav-menu-item-785{
	float: left;
	width: 200px;
	margin-top: 10px;
}

#nav-menu-item-696 .sub-menu{
	width: 451px;
}
#nav-menu-item-696 .sub-menu1{
  width: 451px;
  margin-left: 200px;
}
#nav-menu-item-748 .sub-menu{
    width: 480px;
}
#nav-menu-item-864{
	float: left;
 width: 180px;
 font-weight: normal;

}

#nav-menu-item-864:hover{
 background: #4e7df1; 
 color: white;
}
#nav-menu-item-864 a{
  padding: 10px;
  display: block;
 font-weight: normal;
}
#nav-menu-item-864 a:hover{
  color: white;
}
/*  .sub-menu #nav-menu-item-728 {
float: left;

}
*/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  margin-left:20px;
  width: 20%;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 750px;
  min-width: 320px;
  
}

/* The Close Button */
.close {
 
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 45px;
  font-weight: bold;
}



.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgdiv{
	float: left;
	margin-left: 10px;
}
.showmorebtn{

 background: white; 
 color: black; 
 font-weight: bold; 
 font-size: 16px; 
 display: block;
 border: 1px solid #ffdc52; 
 padding: 8px 16px; 
 cursor: pointer;
}

.showmorebtn:hover{
background: #ffdc52;  
 }

