@media only screen and (max-width : 720px) {

.productviewmain{
width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 250px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}	

.productviewmain1{
	width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 240px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
}


@media only screen and (max-width : 667px) {
		.productviewmain{
	width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 240px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}
.productviewmain1{
	width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 240px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 20px; color: white; padding-top: 80px; 
display: block; z-index: 99;
}
}

@media only screen and (max-width : 636px) {
	.productviewmain{
	width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 240px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}
.productviewmain1{
	width: 210px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 240px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 18px; color: white; padding-top: 80px; 
display: block; z-index: 99;
}
}


@media only screen and (max-width : 520px) {
	.productviewmain{
	width: 190px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}
.productviewmain1{
	width: 190px;
	float: left;
	margin-left: 30px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 20px; color: white; padding-top: 80px; 
display: block; z-index: 99;
}
}



@media only screen and (max-width : 500px) {
	.productviewmain{
	width: 190px;
	float: left;
	margin-left: 20px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}
.productviewmain1{
	width: 190px;
	float: left;
	margin-left: 20px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 20px; color: white; padding-top: 60px; 
display: block; z-index: 99;
}
}



@media only screen and (max-width : 480px) {
	.productviewmain{
    width: 190px;
	float: left;
	margin-left: 20px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 190px;
}
.productviewmain1{
	width: 190px;
	float: left;
	margin-left: 20px;
	background:white;
	margin-top: 10px;
	height: 210px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 190px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 190px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 20px; color: white; padding-top: 60px; 
display: block; z-index: 99;
}
}


@media only screen and (max-width : 414px) {
	.productviewmain{
width: 160px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 200px;
}
.productviewmain .pimg{
width: 100%;
	 height: 160px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 160px;
}	
.productviewmain1{
	width: 160px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 200px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 160px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 160px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 18px; color: white; padding-top: 50px; 
display: block; z-index: 99;
}
}


@media only screen and (max-width : 400px) {

.productviewmain{
width: 160px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 200px;
}
.productviewmain .pimg{
width: 100%;
	 height: 160px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 160px;
}	
.productviewmain1{
	width: 160px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 200px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 160px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 160px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 18px; color: white; padding-top: 50px; 
display: block; z-index: 99;
}
}

@media only screen and (max-width : 360px) {

.productviewmain{
width: 140px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 180px;
}
.productviewmain .pimg{
width: 100%;
	 height: 130px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 130px;
}	

.productviewmain1{
	width: 140px;
	float: left;
	margin-left: 15px;
	background:white;
	margin-top: 10px;
	height: 180px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 130px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 130px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 18px; color: white; padding-top: 40px; 
display: block; z-index: 99;
}
}

@media only screen and (max-width : 320px) {


.productviewmain{
width: 125px;
	float: left;
	margin-left: 10px;
	background:white;
	margin-top: 10px;
	height: 170px;
}
.productviewmain .pimg{
	width: 100%;
	 height: 120px;
	  background: #AED6F1;
}
.productviewmain .pimg img{
	width: 100%;
	height: 120px;
}	

.productviewmain1{
	width: 125px;
	float: left;
	margin-left: 10px;
	background:white;
	margin-top: 10px;
	height: 170px;
}
.productviewmain1 .pimg1{
	width: 100%;
	 height: 120px;
	  background: #AED6F1;
}
.productviewmain1 .pimg1 img{
	width: 100%;
	height: 120px;
}
.productviewmain1 a {
font-size:  16px;

}
.hoverimg h3{
font-size: 18px; color: white; padding-top: 30px; 
display: block; z-index: 99;
}
}