/* Slick Slider Css Ruls */

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none
}
/* Slider Theme Style */

.Container {
  padding: 0 2px;

}

.Container:after,
.Container .Head:after {
  content: '';
  display: block;
  clear: both;
}

.Container .Head {
  font-size: 14px;
  color: #222;
  height: 50px;
  over-flow: hidden;
  border-bottom:1px solid rgba(0,0,0,.25);
}

.Container .allright {
  float: right;
}

.Container .allright span a{
 
  color:black;
  font-size: 14px; 
  font-weight: 500;
}

.Container  .Slick-Next,
.Container .Slick-Prev {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next:hover,
.Container  .Slick-Prev:hover {
  background: white;
}

.Container  .Slick-Next:before {
  content: '\f105'
}

.Container .Slick-Prev:before {
  content: '\f104'
}

.Container .allright {
  float: right;
}

.Container .allright span a{
 
  color:black;
  font-size: 14px; 
  font-weight: 500;
}

.Container  .Slick-Next1,
.Container .Slick-Prev1 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next1:hover,
.Container  .Slick-Prev1:hover {
  background: white;
}

.Container  .Slick-Next1:before {
  content: '\f105'
}

.Container .Slick-Prev1:before {
  content: '\f104'
}

.Container  .Slick-Next2,
.Container .Slick-Prev2 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next2:hover,
.Container  .Slick-Prev2:hover {
  background: white;
}

.Container  .Slick-Next2:before {
  content: '\f105'
}

.Container .Slick-Prev2:before {
  content: '\f104'
}
.SlickCarousel1 {
  margin: 0 -7.5px;
  margin-top: 10px;
}
.SlickCarousel {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.SlickCarousel2 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.ProductBlock {
  padding: 0 5px;
 
   border: 1px solid #ECF0F1;
   margin-left: 8px;

}

.ProductBlock:hover {
box-shadow: 1px 1px 20px #B3B6B7; 
}
.ProductBlock .img-fill {
  height: 200px;
 
 
}
.ProductBlock .productname{
  width: 100%;
  min-height: 60px; 
  
}
.ProductBlock .productname1{
  width: 100%;
  min-height: 50px; 
 
      border: 1px solid #cccccc;
}
.ProductBlock .productname1:hover{
  background: #ffdc52;
  cursor: pointer;
}
.ProductBlock .productname1 p{
  color: #222;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}
.ProductBlock .productname p{
  color: #222;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.shopcategory{
background: #ffdc52; 
color: black; 
font-weight: bold; 
font-size: 16px; 
padding: 6px 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}


.Container  .Slick-Next3,
.Container .Slick-Prev3 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next3:hover,
.Container  .Slick-Prev3:hover {
  background: white;
}

.Container  .Slick-Next3:before {
  content: '\f105'
}

.Container .Slick-Prev3:before {
  content: '\f104'
}
.SlickCarousel3 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next4,
.Container .Slick-Prev4 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next4:hover,
.Container  .Slick-Prev4:hover {
  background: white;
}

.Container  .Slick-Next4:before {
  content: '\f105'
}

.Container .Slick-Prev4:before {
  content: '\f104'
}
.SlickCarousel4 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next5,
.Container .Slick-Prev5 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next5:hover,
.Container  .Slick-Prev5:hover {
  background: white;
}

.Container  .Slick-Next5:before {
  content: '\f105'
}

.Container .Slick-Prev5:before {
  content: '\f104'
}
.SlickCarousel5 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next6,
.Container .Slick-Prev6 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next6:hover,
.Container  .Slick-Prev6:hover {
  background: white;
}

.Container  .Slick-Next6:before {
  content: '\f105'
}

.Container .Slick-Prev6:before {
  content: '\f104'
}
.SlickCarousel6 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next7,
.Container .Slick-Prev7 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next7:hover,
.Container  .Slick-Prev7:hover {
  background: white;
}

.Container  .Slick-Next7:before {
  content: '\f105'
}

.Container .Slick-Prev7:before {
  content: '\f104'
}
.SlickCarousel7 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next8,
.Container .Slick-Prev8 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next8:hover,
.Container  .Slick-Prev2:hover {
  background: white;
}

.Container  .Slick-Next8:before {
  content: '\f105'
}

.Container .Slick-Prev8:before {
  content: '\f104'
}
.SlickCarousel8 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next9,
.Container .Slick-Prev9 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next9:hover,
.Container  .Slick-Prev9:hover {
  background: white;
}

.Container  .Slick-Next9:before {
  content: '\f105'
}

.Container .Slick-Prev9:before {
  content: '\f104'
}
.SlickCarousel9 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next10,
.Container .Slick-Prev10 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next10:hover,
.Container  .Slick-Prev10:hover {
  background: white;
}

.Container  .Slick-Next10:before {
  content: '\f105'
}

.Container .Slick-Prev10:before {
  content: '\f104'
}
.SlickCarousel10 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next11,
.Container .Slick-Prev11 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next11:hover,
.Container  .Slick-Prev11:hover {
  background: white;
}

.Container  .Slick-Next11:before {
  content: '\f105'
}

.Container .Slick-Prev11:before {
  content: '\f104'
}
.SlickCarousel11 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next12,
.Container .Slick-Prev12 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next12:hover,
.Container  .Slick-Prev12:hover {
  background: white;
}

.Container  .Slick-Next12:before {
  content: '\f105'
}

.Container .Slick-Prev12:before {
  content: '\f104'
}
.SlickCarousel12 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next13,
.Container .Slick-Prev13 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next13:hover,
.Container  .Slick-Prev13:hover {
  background: white;
}

.Container  .Slick-Next13:before {
  content: '\f105'
}

.Container .Slick-Prev13:before {
  content: '\f104'
}
.SlickCarousel13 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next14,
.Container .Slick-Prev14 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next14:hover,
.Container  .Slick-Prev14:hover {
  background: white;
}

.Container  .Slick-Next14:before {
  content: '\f105'
}

.Container .Slick-Prev14:before {
  content: '\f104'
}
.SlickCarousel14 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next15,
.Container .Slick-Prev15 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next15:hover,
.Container  .Slick-Prev15:hover {
  background: white;
}

.Container  .Slick-Next15:before {
  content: '\f105'
}

.Container .Slick-Prev15:before {
  content: '\f104'
}
.SlickCarousel15 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next16,
.Container .Slick-Prev16 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next16:hover,
.Container  .Slick-Prev16:hover {
  background: white;
}

.Container  .Slick-Next16:before {
  content: '\f105'
}

.Container .Slick-Prev16:before {
  content: '\f104'
}
.SlickCarousel16 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next17,
.Container .Slick-Prev17 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next17:hover,
.Container  .Slick-Prev17:hover {
  background: white;
}

.Container  .Slick-Next17:before {
  content: '\f105'
}

.Container .Slick-Prev17:before {
  content: '\f104'
}
.SlickCarousel17 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next18,
.Container .Slick-Prev18 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next18:hover,
.Container  .Slick-Prev18:hover {
  background: white;
}

.Container  .Slick-Next18:before {
  content: '\f105'
}

.Container .Slick-Prev18:before {
  content: '\f104'
}
.SlickCarousel18 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next19,
.Container .Slick-Prev19 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next19:hover,
.Container  .Slick-Prev19:hover {
  background: white;
}

.Container  .Slick-Next19:before {
  content: '\f105'
}

.Container .Slick-Prev19:before {
  content: '\f104'
}
.SlickCarousel19 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next20,
.Container .Slick-Prev20 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next20:hover,
.Container  .Slick-Prev20:hover {
  background: white;
}

.Container  .Slick-Next20:before {
  content: '\f105'
}

.Container .Slick-Prev20:before {
  content: '\f104'
}
.SlickCarousel20 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next21,
.Container .Slick-Prev21 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next21:hover,
.Container  .Slick-Prev21:hover {
  background: white;
}

.Container  .Slick-Next21:before {
  content: '\f105'
}

.Container .Slick-Prev21:before {
  content: '\f104'
}
.SlickCarousel21 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next22,
.Container .Slick-Prev22 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next22:hover,
.Container  .Slick-Prev22:hover {
  background: white;
}

.Container  .Slick-Next22:before {
  content: '\f105'
}

.Container .Slick-Prev22:before {
  content: '\f104'
}
.SlickCarousel22 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next23,
.Container .Slick-Prev23 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next23:hover,
.Container  .Slick-Prev23:hover {
  background: white;
}

.Container  .Slick-Next23:before {
  content: '\f105'
}

.Container .Slick-Prev23:before {
  content: '\f104'
}
.SlickCarousel23 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next24,
.Container .Slick-Prev24 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next24:hover,
.Container  .Slick-Prev24:hover {
  background: white;
}

.Container  .Slick-Next24:before {
  content: '\f105'
}

.Container .Slick-Prev24:before {
  content: '\f104'
}
.SlickCarousel24 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next25,
.Container .Slick-Prev25 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next25:hover,
.Container  .Slick-Prev25:hover {
  background: white;
}

.Container  .Slick-Next25:before {
  content: '\f105'
}

.Container .Slick-Prev25:before {
  content: '\f104'
}
.SlickCarousel25 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next26,
.Container .Slick-Prev26 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next26:hover,
.Container  .Slick-Prev26:hover {
  background: white;
}

.Container  .Slick-Next26:before {
  content: '\f105'
}

.Container .Slick-Prev26:before {
  content: '\f104'
}
.SlickCarousel26 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next27,
.Container .Slick-Prev27 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next27:hover,
.Container  .Slick-Prev27:hover {
  background: white;
}

.Container  .Slick-Next27:before {
  content: '\f105'
}

.Container .Slick-Prev27:before {
  content: '\f104'
}
.SlickCarousel27 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next28,
.Container .Slick-Prev28 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next28:hover,
.Container  .Slick-Prev28:hover {
  background: white;
}

.Container  .Slick-Next28:before {
  content: '\f105'
}

.Container .Slick-Prev28:before {
  content: '\f104'
}
.SlickCarousel28 {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.Container  .Slick-Next29,
.Container .Slick-Prev29 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next29:hover,
.Container  .Slick-Prev29:hover {
  background: white;
}

.Container  .Slick-Next29:before {
  content: '\f105'
}

.Container .Slick-Prev29:before {
  content: '\f104'
}
.SlickCarousel29 {
  margin: 0 -7.5px;
  margin-top: 10px;
}


.Container  .Slick-Next30,
.Container .Slick-Prev30 {
  display: inline-block;
  width: 38px;
  height: 32px;
  margin-top: 6px;
  background: #ffdc52;
  color: black;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Slick-Next30:hover,
.Container  .Slick-Prev30:hover {
  background: white;
}

.Container  .Slick-Next30:before {
  content: '\f105'
}

.Container .Slick-Prev30:before {
  content: '\f104'
}
.SlickCarousel30 {
  margin: 0 -7.5px;
  margin-top: 10px;
}
@media(max-width: 575px){
  .shopcategory{
background: #ffdc52; 
color: black; 
font-weight: bold; 
font-size: 14px; 
padding: 6px 6px;
}
}