body{
	padding: 0;
	margin: 0 auto;
    background:  #f0f3f4 ;

    font-family: "Lato", sans-serif;
      min-width: 1080px;

}
.adminbody{
	padding-top:100px;
	max-width: 100%;
	min-width: 720px;
	min-height: 900px;
	background: white;
	margin: 0 auto;
	border-radius: 5px;
}

header{
	height: 70px;
	min-width: 100%;
    padding: 0;
    background: #2980B9;
    position: fixed;
    border-bottom: 1px solid #7fb3d5;
}
header .headerlogo{
	float: left;
	margin-left: 10px;
}
header .headerlogo img{
  width: 45px;
  padding-top: 5px;
  
}
header .headerlogo h4{
  line-height: 1px;
  color: blue;
  font-size: 22px;
margin-left: 42px;
font-family: 'Comfortaa', cursive;

}
header .accountbar{
		 	float: right;
		 	margin-right: 50px;
		 }

header .accountbar ul{
	list-style: none;


}
header .accountbar ul li{
	float: left;
	padding: 4px 20px;
	border-radius: 5px;
	background: white;
	color: blue;
	
	box-shadow: 1px 1px 5px white;
	margin-left: 10px;
	line-height: 70px;
	
}

header .accountbar ul li p{
	line-height: 1px;
	text-transform: capitalize;
	text-align: center;

}

header .accountbar ul li a{
	color: blue;
	
}
.nav{
	
	width: 100%;
	margin: 0 auto;
	height: 40px;
	

}
nav{
	
}

nav ul{
	list-style: none;
	padding: 0;
	margin:0 ;

}

nav ul li{
	float: left;
}
nav ul li input{
	padding-left:  10px;
	padding-right:  10px;
	color: blue;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	line-height: 30px;
}

nav ul li input:hover{
	background: rgba( 208, 211, 212, 0.70);
}

.performbody{
	max-width: 100%;
	min-width: 720px;
	background: white;
	min-height: 600px;
	margin: 0 auto;
	
	
}
.performbody form h4{
	text-align: center;
	text-decoration: underline;
	color: blue;
}

.performbody form .instructionguide{
width: 92%;
		 	margin: 0px auto;
		 	padding: 5px;
		 	color: #3c763d;
			background: #dff0d8;
			border: 1px solid #3c763d;
		 	border-radius: 5px;
		 	text-align: left;

	}
.performbody form .instructionguide p{
	text-align: center;
	color: black;

}

.performbody form .imageuploadbtn{
width: 250px;
margin:10px auto;
padding-top: 15px;


}



.performbody form .imageuploadbtn input{
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 25px;
	border-radius: 8px;
}
.performbody form .upimg{
	width: 200px;
	height: 200px;
	padding-top: 10px;
	margin: 0 auto;

}
.performbody form .upimg img{
	width: 200px;
	height: 200px;
}

.performbody form .fromopacity{
	width: 900px;
	min-height: 600px;
	
	/*background: #f2f4f4;*/
	margin: 0 auto;
}
.performbody form .fromopacity ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.performbody form .fromopacity ul li{
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}
.performbody form .fromopacity ul li .inputlabel{
	width: 230px;
	height: 20px;
	
}
.performbody form .fromopacity ul li input[type=text]{
	width: 370px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid blue;
}
.performbody form .fromopacity ul li textarea{
	width: 800px;
	height: 150px;
	
	border-radius: 8px;
	border: 1px solid blue;
	/*border: 1px solid blue;*/
	resize: none;
}
.performbody form .fromopacity ul li select{
	
	border: 1px solid blue;
}
.performbody form .fromopacity ul li select option{
	border: 1px solid blue;
}
.performbody form .fromopacity ul li input[type=submit]{
	width: 200px;
	height: 30px;
	border-radius: 5px;
	
}

.header{
			 width:30%;
			 margin: 50px auto 0px;
			 border: 1px solid #B0C4DE;
			 background-color:blue;   
			text-align:center;
			padding:20px;
			color:white;
			border-radius: 10px 10px 0px 0px;
		 }
		 .logform {
		 		 width:30%;
			 margin: 0px auto;
			 border: 1px solid #B0C4DE;
			  padding:20px;
			  background-color:white;
			border-radius: 0px 0px 10px 10px;

		 }
		 .logform .content {
			 width:30%;
			 margin: 0px auto;
			 border: 1px solid #B0C4DE;
			  padding:20px;
			  background-color:white;
			border-radius: 0px 0px 10px 10px;
		 }
		 
		 .inputtext{
			 margin:10px 0px 10px 0px;
		 }
		 .inputtext label{
		    display:black;
			margin:3px;
			text-align:left;
			
		 }
		 .inputtext .login{
			 width:90%;
			 height:30px;
			 padding: 5px 10px;
			 font-size:16px;
			 border-radius:5px;
			 border:1px solid gray;
		 }
		 .btn{
              
			 border: none;
			 background-color:blue;
			font-size:15px;
			padding:10px;
			color:white;
			border-radius: 5px;
		 }

		/*.success{

			color: #3c763d;
			background: #dff0d8;
			border: 1px solid #3c763d;
		    margin-bottom: 20px;

		}

		.error{

		 	width: 92%;
		 	margin: 0px auto;
		 	padding: 5px;
		 	border: 1px solid #a94442;
		 	color: #a94442;
		 	background: #f2dede;
		 	border-radius: 5px;
		 	text-align: left;
		 }
*/
		 .pagerulesbody{
		 	width: 900px;
		 	min-height: 600px;
		 	margin: 0 auto;
		 	border-radius: 5px;
		 	border: 1px solid grey;
		 }


		 .pagerulesbody .pagerulenav ul{
		 	list-style: none;
		 	padding: 0;
		 	margin: 0 auto;
		 	width: 615px;	
		 	
		 	height: 40px;
		 		 }

		 .pagerulesbody .pagerulenav ul li{
		 	float: left;
		 	margin-left: 10px;
		 }

		 .pagerulesbody .pagerulenav ul li button{
		 	background: white;
		 	padding: 10px;
		 	border-radius: 0px 8px 0px 8px;
		 	cursor: pointer;
		 }


.invoice{
  background: white;
  min-height: 500px;
  clear:both;
  width: 800px;
  margin:0 auto;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:10px;
  padding-bottom: 20px;
}
.invoicebutton {
	height: 30px;
	width: 100%;
	
}
.invoicebutton form{
float: right;	
}
.invoicebutton form button{
	float: left; 
	background: none;
border: none;
font-size: 16px;
color: #3498DB  ;
cursor: pointer;
margin-left: 10px;
text-decoration: underline;
}
.invoice h1{
   font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  
  
  padding-left: 15px;
}
.invoice h4{
   font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  line-height: 5px;
  
  padding-left: 15px;
}
.invoice h4 span{
  font-weight: normal;
}

.invoice table{
  width: 770px;
  margin-left: 15px;
  border-bottom: 1px solid grey;
  

}

.invoice table tr td{
 width: 250px;
 text-align: center;

}

.invoice p{
  font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  padding-left: 15px;
}
.invoice .lastnote{
  
  height: 50px;
  widows: 100%;
}
.invoice .lastnote p{
  font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  
  font-size: 11px;
}

.parentsform{
    margin: 0 auto;
	width: 300px;
	min-height: 250px;
	background: white;
	border-radius: 5px;
}

.parent_select_box{
width: 250px;
	height: 25px;
	border-radius: 8px;
}


.order_status{
	width: 100%;
	
	min-height: 110px;

}

.order_status_box{
	float:left;
	min-height: 100px;
	margin-top: 5px;
	min-width: 230px;
	margin-left: 20px;
	border-radius: 8px;
}

.order_status_box h3{
	color: #212F3D;
	padding: 0px 10px;
}

.order_status_box button{
	background: none;
	border: none;
	color: #212F3D;
	padding: 0px 10px;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}