/* google font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  width: 100%;
  height: 100px;
  font-size: 50px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: bold;
}

.navsticky {
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  background: #ff5252;
  color: #fff;
  position: relative;
  margin-bottom: -60px;
  z-index: 3;
  text-transform: uppercase;
}


.sticky {
  position: fixed;
  top: 0;
}

p {
  line-height: 2;
}
