
.invoice{
  background: white;
  min-height: 500px;
  clear:both;
  width: 800px;
  margin:0 auto;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:10px;
  padding-bottom: 20px;
}
.invoicebutton {
	height: 30px;
	width: 100%;
	
}
.invoicebutton form{
float: right;	
}
.invoicebutton form button{
	float: left; 
	background: none;
border: none;
font-size: 16px;
color: #3498DB  ;
cursor: pointer;
margin-left: 10px;
text-decoration: underline;
}
.invoice h1{
   font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  
  
  padding-left: 15px;
}
.invoice h4{
   font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  line-height: 5px;
  
  padding-left: 15px;
}
.invoice h4 span{
  font-weight: normal;
}

.invoice table{
  width: 770px;
  margin-left: 15px;
  border-bottom: 1px solid grey;
  

}

.invoice table tr td{
 width: 250px;
 text-align: center;

}

.invoice p{
  font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  padding-left: 15px;
}
.invoice .lastnote{
  
  height: 50px;
  widows: 100%;
}
.invoice .lastnote p{
  font-family: 'Segoe UI',Helvetica,'Droid Sans',Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  
  font-size: 11px;
}
